*.pyc
*.py~
.DS_Store
conf.py
latest_updates.json
.wnf-lang-status
*.egg-info
dist/
erpnext/public/dist
erpnext/docs/current
*.swp
*.swo
__pycache__
*~
.idea/
.vscode/
.helix/
node_modules/
.backportrc.json
# Aider AI Chat
.aider*
apps/erpnext/erpnext/test/page/gerador_de_catalogos/utils/app_client_secret.json